/* ============================================================
 * kessoku.rasi — sanny
 * ============================================================ */

* {
    bg0:    #000000F2;
    bg1:    #1a1a1a;
    bg2:    #c7525580;
    bg3:    #f59bb1F2;
    fg0:    #E8D8CC;
    fg1:    #F5EDE8;
    fg2:    #969696;
    fg3:    #2d2d2d;
}

@import "template/rounded-template.rasi"
